@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

/* NAVIGATION BAR */

#nav-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
}

.logo {
    width: 100%;
    cursor: pointer;
    font-size: 40px;
    font-weight: 700;
    background-color: white;
    text-align: center;
    padding-top: 15px;
}

.navigation {
    max-width: 100%;
    padding: 10px;
    background-color: #fff;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    display: inline-block;
    padding: 10px;
}

.navigation ul li a {
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}

.navigation ul li a:hover {
    color: #2E6BC6;
}

.navigation ul li button {
    cursor: pointer;
    padding: 9px 20px;
    border: 2px solid #2E6BC6;
    border-radius: 30px;
    transition: all 0.3s ease Os;
    font-size: 20px;
    line-height: 22px;
}

.signin-btn {
    background-color: #fff;
}

.signup-btn {
    background-color: #2E6BC6;
    color: #fff;
}

.signin-btn:hover {
    color: #2E6BC6;
    text-decoration: underline #2E6BC6;
}

.signup-btn:hover {
    color: #fff;
    text-decoration: underline #fff;
}

/* Sign In Page */

#sign-in {
    max-width: 100%;
    text-align: center;
    height: 600px;
}

#sign-in .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(images/dime_homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#sign-in h1 {
    max-width: 100%;
    color: #fff;
    font-size: 50px;
    line-height: 55px;
    padding: 80px 50px 20px 50px;
}

#sign-up {
    width: 500px;
    margin: 10px 30%;
}

#sign-up form input {
    height: 40px;
    width: 90%;
    margin: 5px 0px;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0px 10px;
    font-size: 20px;
}


#sign-up form input[type="submit"] {
    margin-top: 10px;
    background: #F4C240;
    border-radius: 43px;
    border: none;
}

#sign-up hr {
    max-width: 90%;
    margin: 10px 5%;
    border: 1px solid #DFDFDF;
}

#sign-up form input[type="submit"]:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.btn3 button {
    width: 90%;
    border: 1px solid #DFDDFD;
    box-sizing: border-box;
    border-radius: 43px;
    padding: 5px 0px;
    background-color: #2E6BC6;
    margin-top: 10px;
}

.btn3 button img {
    float: left;
    margin-left: 5px;
    margin-right: 20px;
    height: 40px;
    border-radius: 30px;
}

.btn3 button h5 {
    float: center;
    padding: 10px;
    font-weight: normal; 
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

.btn3 button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#sign-up p {
    width: 80%;
    margin: 10px 10%;
    font-size: 11.5px;
    color:#fff;
    text-align: center;
    font-weight: 400;
}

#sign-up p a { 
    color:#fff;
    font-size: 11.5px;
    text-decoration: underline white;
}

/* Products section */

#products {
    width: 100%;
    padding: 80px 20px;
}
.products-headtext {
    max-width: 100%;
    text-align: center;
}

.products-headtext h1 {
    font-weight: 600;
    font-size: 35px;
    margin: 10px;
}

.products-headtext p {
    font-size: 20px;
    font-weight: 500;

}

.products-container {
    position: relative;
    max-width: 100%;
    padding: 30px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.prod-img img {
    max-width: 100%;
}

.prod-content { 
    max-width: 100%;
    padding: 60px 20px;
}

.prod-content h3 {
    font-size: 35px;
    margin: 20px 0px;
}

.prod-content button {
    font-size: 20px;
    background: #107D90;
    color: #fff;
    font-weight: bold;
    padding: 5px 15px;
    border: none;
}

.prod-content h5 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 300;
}

.prod-content a {
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background: #2E6BC6;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease Os;
}

.prod-content a:hover {
    text-decoration: underline white;
}

.free-account {
    margin: 50px 0px;
    position: relative;
    background: linear-gradient(270deg, #BC56CD 0%, #2371E7 103.93%);
    border-radius: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.free-account h3 {
    padding: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

.free-account .start-now {
    text-align: end;
    padding: 35px;
}

.free-account .start-now a {
    background: #FCB32C;
    border-radius: 28px;
    font-weight: bold;
    text-decoration: none;
    color: #000;    
    padding: 10px 70px;
}

.free-account a:hover {
    background: #fff;
    color: #2E6BC6;
}

/* CEO section */

#ceo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 80px;
    background: #E5E5E5;
    padding: 70px;
    width: 100%;
    height: 100%;
}


#ceo .ceo-image img {
    max-width: 100%;
}

.ceo-text {
    Margin: 70px 0px;
}

.ceo-text h5, p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #212529;
    margin: 20px 0px;
}

.ceo-text p {
    font-weight: 300;
    color: #000;
}

/* News Section */

#news {
    width: 100%;
    position: relative;
    padding: 80px;
}

.build-skills {
    margin-bottom: 70px;
}

.build-skills h2 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
}

.news-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 70px;
}

.news-container .news-box {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px 4px 0px 0px;
}

.news-container .news-box img {
    width: 100%;
}

.news-container .news-box h3 {
    padding: 20px;
    font-weight: 600;
    font-size: 23px;
    line-height: 27px;
}

.news-container .news-box p {
    padding: 0px 20px 20px 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
}

.news-btn {
    margin-bottom: 70px;
    text-align: center;
}

.news-btn button {
    margin-left: 10px; 
    cursor: pointer;
    padding: 9px 25px;
    background-color: #fff;
    border: 2px solid #2E6BC6;
    border-radius: 30px;
    transition: all 0.3s ease Os;
    font-size: 20px;
}

.news-btn button:hover {
    color: #2E6BC6;
}

#news .faqs {
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    padding: 30px 20px;
}

#news .faqs h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
}

#news .faqs img {
    float: right;
    width: 30px;
    height: 30px;
    border: solid 2px #000;
    padding: 5px;
    border-radius: 40px;
}

#news .faqs img:hover {
    border: #2E6BC6 solid 2px;
}

/* Login Page 2 */

#Login {
    justify-content: left;
    padding: 70px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background: linear-gradient(#1767CA -4.72%, #5B3994 107.41%);
}

#Login .Login-text {
    max-width: 100%;
}

#Login .Login-text h1 {
    padding: 30px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}

#Login .Login-content {
    max-width: 100%;
    padding: 20px 60px;
}

.Login-content form input {
    height: 40px;
    width: 100%;
    margin: 5px 0px;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0px 10px;
    font-size: 18px;
}

.Login-content form input[type="submit"] {
    margin-top: 10px;
    background: #F4C240;
    border-radius: 43px;
    border: none;
}

.Login-content form input[type="submit"]:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.Login-content hr {
    max-width: 100%;
    margin: 10px 20px;
    border: 1px solid #DFDFDF;
}

.Login-content .btn3 button {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 43px;
    padding: 5px 0px;
    background-color: #2E6BC6;
    margin-top: 10px;
}

.Login-content .btn3 button img {
    float: left;
    margin-left: 5px;
    margin-right: 20px;
    height: 40px;
    border-radius: 30px;
}

.Login-content .btn3 button h5 {
    float: center;
    padding: 10px;
    font-weight: normal; 
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

.Login-content .btn3 button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.Login-content p {
    max-width: 100%;
    margin: 15px;
    padding: 0px 10px;
    font-size: 11px;
    font-weight: 300;
    color:#fff;
    text-align: center;
}

.Login-content p a {
    color:#fff;
    font-weight: 300;
    font-size: 11px;
    text-decoration: underline white;
}

/* FOOTER */

#More {
    padding: 50px;
}

.more-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.ft-logo {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #000000;
}

.more-content {
    width: 100%;
}

.more-content h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: #212529;
    margin-bottom: 10px;
}
.more-content ul {
    list-style: none;
}

.more-content ul li {
    padding: 7px 0px; 
}

.more-content ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #343A40;
}

.more-content ul li a:hover {
    color:#2E6BC6;
}

.copyright-container {
    max-width: 100%;
    margin-top: 50px;
    border-top: 1px solid #C4C4C4;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.copyright p, a {
    margin: 20px 0px;
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-decoration: none;
    text-align: left;
}

.copyright a:hover {
    color: #2E6BC6;
}

.copyright-container .ft-logo {
    width: 100%;
    text-align: end;
}


/* MEDIA QUERY */

@media (max-width: 1250px) {

    /* NAVIGATION BAR */

    #nav-bar {
        grid-template-columns: 1fr 3fr;
        gap: 20px;
    }

    .logo {
        font-size: 30px;
    }

    .navigation ul li a {
        font-size: 17px; 
    }

    .navigation ul li button {
        font-size: 17px;
        padding: 5px 15px;
    }

    /* SIGN-IN PAGE */

    #sign-in .bg-image {
        opacity: 1;
    }
    
    #sign-in h1 {
        color: #fff;
        font-size: 40px;
        line-height: 50px;
        padding: 60px 50px 20px 50px;
    }

    #sign-up form input {
        height: 40px;
        width: 80%;
    }

    .btn3 button {
        width: 80%;
    }

    /* Products Section */

    .products-headtext h1 {
        font-size: 30px;
    }
    
    .products-headtext p {
        font-size: 16px;
    }

    .prod-content { 
        padding: 20px;
    }
    
    .prod-content h3 {
        font-size: 30px;
        margin: 10px 0px;
    }
    
    .prod-content button {
        font-size: 18px;
    }
    
    .prod-content h5 {
        font-size: 17px;
    }
    
    .prod-content a {
        padding: 5px 10px;
        font-size: 16px;
    }

    /* CEO Section */

    #ceo {
        grid-template-columns: 1fr 1fr;
        padding: 20px 0px;
        justify-items: center;
        grid-column-gap: 50px;
    }

    #ceo .ceo-image img {
        max-width: 300px;
    }

    #ceo .ceo-text h5, p {
        font-size: 17px;
        margin: 0px 10px;
    }  
}

@media (max-width: 900px) {

    /* NAVIGATION BAR */

    #nav-bar {
        grid-template-columns: 1fr 4fr;
    }

    .navigation ul li a {
        font-size: 15px; 
    }

    .navigation ul li button {
        font-size: 15px;
        padding: 3px 10px;
    }

    /* SIGN-IN PAGE */

    #sign-in .bg-image {
      filter: blur(8px);
    }
    
    #sign-in h1 {
        color: #fff;
        font-size: 30px;
        line-height: 35px;
        padding: 40px 30px 20px 30px;
    }

    #sign-up {
        margin: 10px 10%;
    }

    #sign-up form input {
        height: 40px;
        width: 60%;

    }

    .btn3 button {
        width: 60%;
    }
    
    #sign-up p {
        margin: 10px 25%;
        font-size: 10px;
    }

    #sign-up p a{
        font-size: 10px;
    }

    /* Product Section */

    .products-container {
        gap: 10px;
        padding: 10px;
    }

    .prod-content { 
        padding: 0px;
    }
    
    .prod-content h3 {
        font-size: 20px;
        margin: 5px 0px;
    }
    
    .prod-content button {
        font-size: 14px;
    }
    
    .prod-content h5 {
        font-size: 13px;
        margin-bottom: 2px;
    }
    
    .prod-content a {
        padding: 2px 15px;
        font-size: 12px;
    }

    .free-account h3 {
        padding: 20px;
        font-size: 20px;
    }
    
    .free-account .start-now {
        padding: 20px;
    }
    
    .free-account .start-now a { 
        padding: 10px 40px;
    }
    
    .free-account a:hover {
        background: #fff;
        color: #2E6BC6;
    }
    
    /* CEO SECTION */

    #ceo {
        grid-template-columns: 1fr;
        padding: 40px;
        justify-items: center;
    }

    #ceo .ceo-image img {
        max-width: 300px;
    }

    #ceo .ceo-text {
        margin: 20px 0px;
    }

    #ceo .ceo-text h5, p {
        max-width: 300px;
        font-size: 16px;
        text-align: center;
    }

    /* NEWS Section */

    .build-skills {
        margin-bottom: 40px;
    }
    
    .build-skills h2 {
        font-size: 22px;
        line-height: 25px;
    }
    
    .news-container {
        grid-template-columns: 1fr;
    }
    
    .news-container .news-box p {
        text-align: left;
    }

    #news .faqs h4 {
        font-size: 20px;
    }

    /* LOGIN 2 SECTION */

    #Login {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    #Login .Login-text h1 {
        font-size: 30px;
        line-height: 45px;
    }
    
    #Login .Login-content {
        max-width: 90%;
        padding: 20px 10px;
    }

    /* FOOTER */

    .more-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .ft-logo {
        font-size: 23px;
        text-align: left;
    }

    .more-content h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .more-content ul li {
        padding: 2px 0px; 
    }

    .more-content ul li a {
        font-size: 14px;
        line-height: 17px;
    }

    .copyright p, a {
        margin: 10px 0px;
        font-size: 14px;
    }
}


@media (max-width: 750px) {

    #ceo {
        grid-template-columns: 1fr;
        padding: 20px;
        grid-column-gap: 0px;
        justify-items: center;
    }

    #ceo .ceo-image img {
        max-width: 200px;
    }

    #ceo .ceo-text {
        margin: 10px 0px;
    }

    #ceo .ceo-text h5, p {
        max-width: 200px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        margin: 10px 0px;
    }
}